langchain==0.2.16
langchain-openai==0.1.23
langchain-community==0.2.16
langchain-chroma==0.1.4
langchain-text-splitters==0.2.4
chromadb==0.5.15
openai==1.51.0
streamlit==1.38.0
pymupdf==1.24.11
python-dotenv==1.0.1
tiktoken==0.7.0
pydantic==2.9.2